.productcard {
    background-color: darkgrey;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    min-width: 150px;
    max-width: 300px;
    outline: 5px solid #fff;
    margin: 5px;
    padding: 7px;
}
.wrap {
    display: flex;
    justify-content: flex-start;

}
.img_mini {
    max-width: 100%;
}